@import 'https://fonts.googleapis.com/css?family=Quicksand:400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
body {
  margin: 0px;
  padding: 0px;
  /*height: 100%;*/
  width: 100%;
  background-color: #262626;
}
#spectra-gif {
  border: 1px solid black;
}

#center {
  width: 60%;
  padding-top: 4%;
  display: block;
  margin: 0 auto;
}

#header { 
  line-height: 27px;
  position: relative;
  margin: 0 auto;
  width: 100%;

}

#title {
  padding-top: 2%;
  font-family: 'Quicksand', sans-serif;
  font-style: 300;
  color: white;
  font-size: 500%;
  margin: 0 auto;
  text-align: center;
}

#keck {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 25px;
  padding-left: 9.5%;
  
}

#hacky_fix2 {
  width: 94.8%;
}

#hacky_fix {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 20px;
  padding-left: 9.5%;
  border-top: 3px dashed  #eae3a6;
  line-height: 90px;  
  font-style: italic;
 /* margin-bottom: 5%;*/
  width: 100%;
}


.data {
  font-family: 'Quicksand', sans-serif;
  color: #4c4c4c;
  padding: 10px;
  background-color: white;
  display: block;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px #404040;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #404040;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 15px;
  width: 25%;
  margin-left: 60%;
}


#wrapper {
  width: 100%;
  overflow: hidden;
}

#ui {
  
}

#container {
  float: left;
  width: 50%;
  height: 900px;
  }


.interface {
  /*float: left;
  padding-right: 20px;
  width: 300px*/
}


.button {
  display: block;
  height: 30px;
  width: 100px;
  background: green;
  text-align: center;
  padding-top: 10px;
  padding-left: 0px;
  font: 15px arial bold;
  border: 1px solid black;
  text-decoration: none;
  list-style:none;
  margin: 10px 0px 10px 0px;
}
#toggleColorRed {
  font-family: ‘DroidSans-Bold’;
  text-transform:uppercase;
  color: white;
  padding: 0px 8px 0px 12px;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  border-top: 4px solid #aaa;
  border-left: 4px solid #ccc;
  border-right: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
  -moz-border-top-colors:#aaa #bbb #ccc #ddd;
  -moz-border-left-colors:#aaa #bbb #ccc #ddd;
  -moz-border-bottom-colors:#aaa #bbb #ccc #ddd;
  -moz-border-right-colors:#aaa #bbb #ccc #ddd;
  background-color: #dd3333;
  display: inline;
}

#toggleColorBlue {
  font-family: ‘DroidSans-Bold’;
  text-transform:uppercase;
  color:white;
  padding: 0px 12px 0px 8px;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  border-top: 4px solid #ccc;
  border-left: 4px solid #ccc;
  border-right: 4px solid #ccc;
  border-bottom: 4px solid #aaa;
  -moz-border-top-colors:#aaa #fff #fff #fff;
  -moz-border-right-colors:#aaa #dedede #efefef #fafafa;
  -moz-border-left-colors:#aaa #dedede #efefef #fafafa;
  -moz-border-bottom-colors:#aaa #dedede #efefef #fafafa;
  background-color: #042262;
  display: inline;
}

#detector {
  position: absolute;
  background-color: #e0eeee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;     
  user-select: none;
  /*border: 2px solid black;*/
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
#draggable {
  width:50px;
  height:50px;
}
.detectorbox {
  padding:0px;
  width:100%;
  height:33%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 0px;
}
#first {
  border-top: 1px solid black;
}
#final {
  border-bottom: 1px solid black;
}

