@import 'https://fonts.googleapis.com/css?family=Quicksand:400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
body {
  margin: 0px;
  padding: 0px;
  background-image: url("background1.png");
}

#full {
  height: 100vh;
  width: 70%;
  margin: 0 auto;
}

#ui {
  /*display: inline-block;
  float: left;*/
 /* position: relative;
  padding-top: 10px;*/
  width: 50%;
  height: 100%;
  float: right;
  display: inline-block;
}

#container {
  /*float: left;*/
  /*float: left;
  display: inline-block;
  width: 600px;
  height: 900px;*/
  height: 100%;
  width: 50%;
  display: inline-block;
}
#header {
  height: 20vh;
  margin: 0 auto;
  display: table;
}

#content {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  /*float: left;
  clear: none;*/
 
}

#title {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: 300;
  color: white;
  font-size: 400%;
}

#logo {
  display: inline-block;
}

#keck {
  line-height: 10px;
  margin-top: -100px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 25px;
}



#spectra-gif {
  margin: 0 auto;
 /* border: 1px solid black;*/
}


.data {
  font-family: 'Quicksand', sans-serif;
  color: #4c4c4c;
  padding: 10px;
  background-color: white;
  display: block;
  position: relative;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.33);
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.33);
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 15px;
  width: 80%;

}

#clear {
  clear: both;
}

#ui-top {
  padding-top: 7%;
}

#ui-bottom {
  /*margin: 0 auto;*/
  width: 100%;
  max-height: 50%;
  clear: none;
  margin: 0 auto;



}

.interface {
  clear: none;
  margin: 0 auto;
  width: 45%;
  height: 100%;
}

.d1 {
  display: inline-block;
}

.d2 {
  display: inline-block;
  float: right;
  height: 100%;
}
.button {
  display: block;
  height: 30px;
  width: 100px;
  background: green;
  text-align: center;
  padding-top: 10px;
  padding-left: 0px;
  font: 15px arial bold;
  border: 1px solid black;
  text-decoration: none;
  list-style:none;
  margin: 10px 0px 10px 0px;
}
#toggleColorRed {
  font-family: ‘DroidSans-Bold’;
  text-transform:uppercase;
  color: white;
  padding: 0px 8px 0px 12px;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  border-top: 4px solid #aaa;
  border-left: 4px solid #ccc;
  border-right: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
  -moz-border-top-colors:#aaa #bbb #ccc #ddd;
  -moz-border-left-colors:#aaa #bbb #ccc #ddd;
  -moz-border-bottom-colors:#aaa #bbb #ccc #ddd;
  -moz-border-right-colors:#aaa #bbb #ccc #ddd;
  background-color: #dd3333;
  display: inline;
}

#toggleColorBlue {
  font-family: ‘DroidSans-Bold’;
  text-transform:uppercase;
  color:white;
  padding: 0px 12px 0px 8px;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  border-top: 4px solid #ccc;
  border-left: 4px solid #ccc;
  border-right: 4px solid #ccc;
  border-bottom: 4px solid #aaa;
  -moz-border-top-colors:#aaa #fff #fff #fff;
  -moz-border-right-colors:#aaa #dedede #efefef #fafafa;
  -moz-border-left-colors:#aaa #dedede #efefef #fafafa;
  -moz-border-bottom-colors:#aaa #dedede #efefef #fafafa;
  background-color: #042262;
  display: inline;
}

#detector {
  position: absolute;
  background-color: #e0eeee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;     
  user-select: none;
  /*border: 2px solid black;*/
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
#draggable {
  width:50px;
  height:50px;
}
.detectorbox {
  padding:0px;
  width:100%;
  height:33%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 0px;
}
#first {
  border-top: 1px solid black;
}
#final {
  border-bottom: 1px solid black;
}

